header{
    color: white;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.content{
    display: flex;
    height: calc(100vh - 60px);
}

nav{
    width: 200px;
    background-color: white;
    padding: 20px;
}

main{
    flex: 1;
    padding: 20px;
}

h2{
    text-align: center;
}
.tabla-datos{   
}
.tabla-datos th, .tabla-datos td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.tabla-datos thead{
    background-color: #f2f2f2;
}

.tabla-datos input{
    width: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}